.input, .textarea, .StripeElement {
    border: 1px solid transparent;
    box-shadow: $shadow;
    font-size: 15px;

    &:hover {
        border: 1px solid transparent;
    }

    &:focus, &:active, &.StripeElement--focus {
        box-shadow: $shadow;
        box-shadow: $shadow-outline;
        border: 1px solid transparentize($primary, 0.25);
    }
}

.select select {
    box-shadow: $shadow;
    border: 1px solid transparent !important;

    &:focus {
        box-shadow: $shadow-active;
    }
}

.control.has-icons-left .input:focus ~ .icon {
    color: $primary;
}

.label {
    font-size: 14px;
    color: inherit;
}

.field:not(:last-child) {
    margin-bottom: 1.5rem;
}

.StripeElement {
    border-radius: $radius;
    padding: calc(0.625em - 1px);
}

.StripeElement--invalid {
    border-color: $danger;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.checkbox input[type=checkbox] + .check {
    width: 1rem;
    height: 1rem;
    border-width: 0;
    background-color: $light-primary;
    background-size: 75% !important;
    box-shadow: none !important;
    transition: none !important;
}
