.input, .textarea, .StripeElement {
    border: 1px solid transparent;
    box-shadow: $shadow;
    font-size: 15px;

    &:hover {
        border: 1px solid transparent;
    }

    &:focus, &:active, &.StripeElement--focus {
        box-shadow: $shadow;
        box-shadow: $shadow-outline;
        border: 1px solid transparentize($primary, 0.25);
    }
}

.select select {
    box-shadow: $shadow;
    border: 1px solid transparent !important;

    &:focus {
        box-shadow: $shadow-active;
    }
}

.control.has-icons-left .input:focus ~ .icon {
    color: $primary;
}

.label {
    font-size: 14px;
    color: inherit;
}

.field:not(:last-child) {
    margin-bottom: 1.5rem;
}

.StripeElement {
    border-radius: $radius;
    padding: calc(0.625em - 1px);
}

.StripeElement--invalid {
    border-color: $danger;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.checkbox input[type=checkbox] + .check {
    width: 1rem;
    height: 1rem;
    border-width: 0;
    background-color: $light-primary;
    background-size: 75% !important;
    box-shadow: none !important;
    transition: none !important;
}

.f-form-footer {
    display: inline-block !important;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0 0 4px 4px;
    background: $lighter;
    border-top: 1px solid $border-color;
    padding: 1rem;
    float: left;
    width: 100%;
}

.f-form-title {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    background: $lighter;
    border-bottom: 1px solid $border-color;
    padding: 1rem 0;
    margin-bottom: 0 !important;
}

.datepicker.control {
    border: 1px solid transparent;
    box-shadow: $shadow;
    font-size: 15px;
    outline: 0;
    border-radius: $radius;

    .pagination {
        a {
            border: none;
            box-shadow: $shadow;

            &:hover {
                box-shadow: $shadow-hovered;
                color: $text-hovered;
            }

            &:active {
                box-shadow: $shadow-active;
                color: $text-hovered;
            }
        }
    }
}
