html {
    background-color: $background;
}

strong {
    color: inherit;
}

.main-site-content {
    padding-top: 1rem;
    padding-bottom: 25vh;
}

.main-page-columns {
    margin: 0;
    position: relative;
    max-width: 100%;
}

.w100 {
    width: 100%;
}

.w-auto {
    width: auto !important;
    max-width: auto !important;
    min-width: auto !important;
}

[v-cloak] {
    display: none;
}

.block {
    display: inline-block;
    width: 100%;
    margin: 0;
}

small {
    font-size: 13px;
}

.card {
    border-radius: $radius;
    box-shadow: $shadow-large !important;
}

.box {
    box-shadow: $shadow;
}

hr {
    float: left;
    width: 100%;
    margin: 2rem 0;
    padding: 0;
    opacity: .5;
}

.column {
    &.is-sidebar {
        width: 275px;
        flex: none;
    }
}

.is-muted {
    opacity: 0.75;
}

.is-solid {
    opacity: 1 !important;
    cursor: default !important;
}

.tag {
    height: 2.25em;
}

.cursor-default {
    cursor: default !important;
}

.section-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-small {font-size: 14px;}
.text-large {font-size: 36px;}

.font-bold {
    font-weight: 500;
}
