.profile-sidebar {
    float: left;
    width: 20%;

    .profile-avatar {
        display: inline-block;
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
        margin-bottom: 1rem;
    }

    .profile-name {
        display: inline-block;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
    }

    .profile-bio {
        font-size: 14px;
    }

    .profile-meta {
        float: left;
        width: 100%;
        margin-top: 1rem;
        font-size: 14px;

        .profile-meta-row {
            float: left;
            width: 100%;
            line-height: 20px;

            .material-icons {
                float: left;
                font-size: 20px;
            }

            span {
                float: left;
                margin-left: 5px;
            }
        }
    }
}

.profile-main {
    float: right;
    width: calc(80% - 3rem);
    box-shadow: $shadow-large;
    border-radius: $radius;
    background: white;

    .profile-main-nav {
        float: left;
        width: 100%;
        padding: 0 1rem;
        border-radius: $radius $radius 0 0;
        box-shadow: 0 -1px 0 $background inset;

        .profile-main-nav-item {
            float: left;
            padding: 1rem;
            font-weight: 500;
            color: $text-hovered;

            &.is-active {
                color: $primary;
                box-shadow: 0 -3px 0 $primary inset;
            }
        }
    }

    .profile-main-content {
        float: left;
        width: 100%;
        padding: 1rem;
        border-radius: 0 0 $radius $radius;
    }
}
