.settings-nav {
    padding-top: 0;

    .settings-nav-item {
        float: left;
        width: 100%;
        font-weight: 400;
        padding: 0 0 12px 0;
        color: $text;

        .settings-nav-item-icon {
            float: left;
            width: 2.75rem;
            height: 2.75rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px;
            margin-right: 0.66rem;
        }

        p {
            font-size: 12px;
            opacity: .75;
        }

        .material-icons {
            margin: 1px 7px 0 0;
            float: left;
            font-size: 24px;
        }

        &:hover, &.is-active {
            font-weight: 500;
            color: $text-hovered;
        }
    }
}

.settings-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}

.settings-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}

.settings-content {
    padding: 1rem;
}
