.settings-nav {
    padding-top: 0;

    .settings-nav-item {
        float: left;
        width: 100%;
        font-weight: 400;
        padding: 0 0 12px 0;
        color: $text;

        .material-icons {
            margin: 1px 7px 0 0;
            float: left;
            font-size: 24px;
        }

        &:hover, &.is-active {
            font-weight: 500;
            color: $text-hovered;
        }
    }
}

.settings-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}

.settings-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}

.settings-content {
    padding: 1rem;
}
