#token-checkout {
    .dropdown-menu {
        min-width: 28rem;
    }
}

.token-checkout {
    .b-tabs {
        nav.tabs {
            display: none;
        }
    }

    .token-package {
        display: inline-block;
        width: 100%;
        padding: 0.75rem;
        border-radius: 4px;

        &.is-selected {
            box-shadow: $shadow;
        }

        .token-package-title {
            width: 50%;
            float: left;
            font-size: 18px;
            font-weight: 500;
            color: black;
            height: 36px;
            line-height: 36px;
        }

        .token-package-controls {
            width: 50%;
            float: right;

            .token-package-controls-group {
                float: right;
                background: white;
                height: 31.5px;

                .button.token-package-button {
                    float: right;
                    border-width: 1px 1px 1px 0;
                    border-radius: 0 4px 4px 0 !important;
                }

                .token-package-cost {
                    float: left;
                    height: inherit;
                    line-height: 31.5px;
                    font-weight: 600;
                    padding: 0 0.5rem;
                    background: $background;
                    color: black;
                    border-radius: 4px 0 0 4px;
                    box-shadow: $shadow;
                }
            }
        }
    }

    .token-checkout-subtitle {
        float: left;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
    }

    .token-checkout-card-brand {
        float: left;
        margin-right: 15px;
    }

    .token-checkout-card-number {
        float: left;
    }
}

label[for="card-element"] {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

#card-errors {
    font-size: 14px;
    color: $danger;
}
