.watch-video-container {
    height: 640px;
    background: #fff;
    box-shadow: $shadow-large;
    border-radius: $radius;
    float: left;
    width: 100%;
}

.watch-chat-container {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: $shadow-large;
    border-radius: $radius;
}

.watch-header {
    float: left;
    width: 100%;
    margin-bottom: 1.5rem;

    .watch-controls {
        float: right;
    }

    .watch-title {
        float: left;
        width: 80%;

        .watch-topic {
            float: left;
            width: 100%;
            font-size: 22px;
            font-weight: 500;
        }
    }
}

.subscription-content {
    padding: 1rem;
    width: 20rem;
    display: inline-block;

    .subtitle {
        float: left;
        width: 100%;
        font-size: 28px;
        font-weight: 300;
        margin: 1rem 0 1.5rem 0;
    }
}
