.watch-video-container {
    height: 640px;
    background: #fff;
    box-shadow: $shadow;
    border-radius: $radius;
    float: left;
    width: 100%;
}

.watch-chat-container {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: $shadow;
    border-radius: $radius;
}

.watch-header {
    float: left;
    width: 100%;
    margin-bottom: 1.5rem;

    .watch-controls {
        float: right;
    }

    .watch-topic {
        float: left;
        font-size: 22px;
        font-weight: 500;
    }
}
